/* Button */
.btn {
    background: #73bce8;
    outline: none;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: black;
}

.btn-error {
    background: #4F005FFF;
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn-error:hover {
    background: rgba(79, 0, 95, 0.81);
}